:root {
  --fs-2: calc(1.813rem + 1vw);
  --fs-3: calc(1.313rem + 1vw);
  --fs-5: 1rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * radius
   */

  --bg-primary: hsl(0, 0%, 12%);
  --bg-secondary: hsl(0, 0%, 19%);
  --color-primary: #c0e2ee;
  --color-secondary: hsl(0, 0%, 62%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --input-bg: hsl(0, 0%, 16%);

  --shadow-1: 10px 10px 40px var(--card-shadow);
  --radius-4: 4px;
  --radius-12: 12px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
*,
*::before,
*::after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}


input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button,
select {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

:is(a, button, select) {
  outline-color:  hsl(13, 96%, 47%);
  outline-offset: 3px;
}

::selection {
  background: var(--color-primary);
  color: var(--bg-primary);
}

html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  margin: 60px auto;
}
body {
  background: var(--bg-primary);
  transition: var(--transition-1);
}

.container {
  padding-inline: 10px;
}

.h2,
.h3,
.h4 {
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.h4 {
  font-size: var(--fs-5);
}

.btn {
  max-width: max-content;
  /* color: var(--color-primary); */
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: var(--radius-4);
  transition: var(--transition-1);
}

.btn-primary {
  color: #fff;
  border-color: #001b1d;
}

.btn-primary:is(:hover, :focus) {
  background: var( --raw-seinna);
  color: var(--bg-primary);
}

.btn-secondary {
  background: #001b1d;
  border-color: #001b1d;
  color: hsl(0, 0%, 0%);
}

.btn-secondary:is(:hover, :focus) {
  --raw-seinna: hsl(24, 74%, 64%);
}

.section-subtitle {
  position: relative;
  color: var(--color-secondary);
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section-subtitle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 60px;
  height: 2px;
  background: var(--color-secondary);
}

.section-title {
  max-width: 350px;
  margin-bottom: 30px;
}

.section-text {
  color: var(--color-secondary);
  line-height: 1.8;
  margin-bottom: 30px;
}

.tooltip {
  position: absolute;
  top: -40px;
  background: #001b1d;
  min-width: max-content;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: var(--fw-700);
  padding: 5px 10px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}

main {
  overflow-x: hidden;
}

/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

.contact {
  padding-block: var(--section-padding);
}

.contact-content {
  margin-bottom: 50px;
}

.contact-list-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item-icon {
  font-size: 25px;
  color: var(--color-primary);
}

.contact-item-icon ion-icon {
  --ionicon-stroke-width: 40px;
}

.contact-item-title {
  margin-bottom: 10px;
}

.contact-list-item .contact-info {
  color: var(--color-secondary);
  font-style: normal;
  line-height: 1.6;
  transition: var(--transition-1);
}

.contact-info:not(address):is(:hover, :focus) {
  color: var(--color-primary);
}

.contac-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-inline: 40px;
}

.contact-social-link {
  position: relative;
  background: var(--color-primary);
  color: var(--bg-primary);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--transition-1);
}

.contact-social-link:is(:hover, :focus) {
  background: #001b1d;
  color:hsl(0, 0%, 100%);
}

.contact-social-link:is(:hover, :focus) .tooltip {
  transform: translateY(0);
  opacity: 1;
}

.contact-form {
  background: var(--bg-secondary);
  padding: 20px;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
}

.form-wrapper {
  margin-bottom: 25px;
}

.form-label {
  color: var(--color-primary);
  font-size: var(--fs-7);
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
  margin-left: 5px;
}

.input-wrapper {
  position: relative;
}

.input-field {
  background: var(--input-bg);
  color: #001b1d;
  padding: 10px;
  padding-left: 40px;
  border-radius: var(--radius-12);
  transition: var(--transition-1);
}

.input-wrapper ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--color-secondary);
  font-size: 20px;
  transition: var(--transition-1);
}

textarea.input-field {
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
}

.input-field:focus {
  outline: 1px solid;
}

.input-field:focus + ion-icon {
  color: #001b1d;
}

.contact .btn-primary {
  max-width: unset;
  width: 100%;
  /* background: var(--color-primary); */
  color: #f1f1f1;
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }
}
/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/
body {
  background: var(--bg-primary);
  transition: var(--transition-1);
}

body.active {
  overflow: hidden;
}
.contact {
  padding-block: var(--section-padding);
}

.contact-content {
  margin-bottom: 50px;
}

.contact-list-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item-icon {
  font-size: 25px;
  color: var(--color-primary);
}

.contact-item-icon ion-icon {
  --ionicon-stroke-width: 40px;
}

.contact-item-title {
  margin-bottom: 10px;
}

.contact-list-item .contact-info {
  color: var(--color-secondary);
  font-style: normal;
  line-height: 1.6;
  transition: var(--transition-1);
}

.contact-info:not(address):is(:hover, :focus) {
  color: var(--color-primary);
}

.contac-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-inline: 40px;
}

.contact-social-link {
  position: relative;
  background: var(--color-primary);
  color: var(--bg-primary);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--transition-1);
}

.contact-social-link:is(:hover, :focus) {
  background: #001b1d;
  color: hsl(0, 0%, 100%);
}

.contact-social-link:is(:hover, :focus) .tooltip {
  transform: translateY(0);
  opacity: 1;
}

.contact-form {
  background: var(--bg-secondary);
  padding: 20px;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
}

.form-wrapper {
  margin-bottom: 25px;
}

.form-label {
  color: var(--color-primary);
  font-size: var(--fs-7);
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
  margin-left: 5px;
}

.input-wrapper {
  position: relative;
}

.input-field {
  background: var(--input-bg);
  color: #001b1d;
  padding: 10px;
  padding-left: 40px;
  border-radius: var(--radius-12);
  transition: var(--transition-1);
}

.input-wrapper ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--color-secondary);
  font-size: 20px;
  transition: var(--transition-1);
}

textarea.input-field {
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
}

.input-field:focus {
  outline: 1px solid;
}

.input-field:focus + ion-icon {
  color: #001b1d;
}

.contact .btn-primary {
  max-width: unset;
  width: 100%;
  /* background: var(--color-primary); */
  /* color: var(--bg-primary); */
}

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  /**
   * CONTACT
   */

  .contact-form {
    max-width: 450px;
    margin-inline: auto;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 3rem;

    /**
     * spacing
     */

    --section-padding: 100px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 980px;
  }

  .section-content {
    position: relative;
    padding-left: 40px;
  }

  .section-subtitle {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0.75turn) translateX(-100%);
    transform-origin: left top;
    margin-bottom: 0;
  }

  .section-subtitle::after {
    top: 8px;
    left: auto;
    right: calc(100% + 20px);
  }

  /**
   * CONTACT
   */

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .contact-content {
    margin-bottom: 0;
  }

  .contact-form {
    width: 100%;
  }

  .contact-list {
    margin-left: -40px;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1150px;
  }

  .section-title {
    max-width: 460px;
  }
}

.mapbox {
  position: relative;
  height: 360px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid var(--jet);
  overflow: hidden;
}

.mapbox figure {
  height: 100%;
}

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}
